<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>

    <div id="app">
        <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">图书管理系统</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">欢迎您，</a></li>
                    <li >
                        <a href="#">杨凯</a>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    
                   
                   <div class="list-group">
                       <a href="stu.html" class="list-group-item">
                           <h5 class="list-group-item-heading">我的借阅</h5>
                           
                       </a>
                       <a href="stu_search.html" class="list-group-item active">
                        <h5 class="list-group-item-heading">查询图书</h5>
                        
                    </a>
                   </div>
                   
                    
                </div>
                <div class="col-md-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h3 class="panel-title">查找图书 <span class="glyphicon glyphicon-search pull-right"></span></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入图书名称" v-model="this.keywords">
                                    <span class="input-group-btn">
                                      <button class="btn btn-primary" type="button" @click="findbook(this.keywords)">查询</button>
                                    </span>
                                  </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                                </div>
                        <div class="row" v-if="flag">
                          <div class="col-lg-9 topmargin">
                            <table class="table table-striped table-hover table-bordered ">
                                <thead>
                                    <tr>
                                        <th>图书id</th>
                                        <th>图书名称</th>
                                        <th>作者</th>
                                        <th>出版商</th>
                                        <th>定价</th>
                                        
                                        <!-- <td class="text-center">
                                            <button class="btn btn-primary btn-sm"></button>
                                            
                                        </td> -->
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in booklist">
                                        <td>{{item.bookid}}</td>
                                        <td>{{item.bookname}}</td>
                                        <th>{{item.author}}</th>
                                        <th>{{item.publisher}}</th>
                                        <th>{{item.dingjia}}</th>
                                        
                                        <th class="text-center">
                                            <button class="btn btn-primary btn-sm pull-left" @click="getBook(item.bookid)">借书</button>
                                            
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>
                            
                </div>
            </div>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                
                    list:[],
                    flag:false,
                    booklist:[],
                    keywords:'',
                   
                
                },
            created: function () {
                this.getList();

            },
            methods: {
                getList: function () {

                    // 方法：$http.post(url, 传给服务器的请求体中的数据， {emulateJSON:true})
                    // 通过 post 方法的第三个参数{ emulateJSON: true } ，来设置 提交的内容类型 为 普通表单数据格式
                    this.$http.post("/findbookServlet",  {
                            emulateJSON: true
                        })
                        .then(function (response) {

                                
                                this.list = response.body;
                            },
                            function (error) {

                            })
                },
                findbook:function(keywords){
                  
                        this.booklist=[];
                        this.list.forEach((item) => {
                            if (item.bookname.indexOf(keywords) != -1) {
                                this.booklist.push(item);
                                console.log(this.booklist);
                                }
                                
                            },
                            this.flag = true
                        )
                        
                        
                },
                getBook: function (id) {
                    console.log(id);
                    this.$http.post("/addBookServlet", {
                           bookid:id,
                           username:localStorage.getItem("username")
                        }, {
                            emulateJSON: true
                        })
                        .then(function (response) {

                                
                                
                            },
                            function (error) {

                            });
                            alert("借书成功");
                    
                },
                
                    
                },
        })
    </script>
    
</body>

</html>